body {
    display: flex;
    flex-direction: column;
}
section {
    border: 1px dashed black;
    display: flex;
    padding: 3rem;
    margin: 2rem;
}

#venues {
    width: 50%;
}

#bands {
    width: 50%;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}